<%- include('templates/header') %>
<div id='mobile-wrap'>

<div>
  <h1>Nexus (Satellite)</h1>
</div>
<div id="connectionType"></div>
<div class="button-wrap">
  <button onclick="buttonTap()">Alter Focus</button>
</div>

<div id='mobile-content'>
  <% if (agentMsg) { %><p><%= agentMsg %></p><% } %>
  <% if (paramNonce) { %>
    <p>You're accessing this page with param nonce: <%= paramNonce %></p>
  <% } %>
  <% if (nonce) { %>
    <p>Generated nonce: <%= nonce %></p>
  <% } %>
  <% if (connectRequests) { %>
    <p>Acive Connect Requests: <pre><%= JSON.stringify(connectRequests, null, 2) %></pre></p>
  <% } %>

</div>

<div class="button-wrap">
  <button onclick="killCookies()">Kill Cookies</button>
</div>

<div id='footer'>

</div>

</div><!-- mobile-wrap -->
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="./adapter.js"></script>
<script src='./dist/imperio.js'></script>
<script src='./mobile.js'></script>
<%- include('templates/footer') %>
